.bold{
    font-weight: bold;
}

.components-list{
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.tutorial-list{
    margin-bottom: 200px;
}

ol{
    margin: 15px;
}

ol li{
    list-style-type: decimal !important;
}